<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img ng-src="{{ vm.favorite.Poster }}" alt="{{ vm.favorite.Title }}">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-5">{{ vm.favorite.Title }}</p>
        <p class="subtitle is-6"> {{ vm.favorite.Rated }} </p>
        <p class="subtitle is-6">Released: {{ vm.favorite.Released }}</p>

      </div>
    </div>
  </div>
</div>